# More information about the configuration file can be found here:
# https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-config.html
version: 0.1

default:
    global:
        parameters:
            stack_name: ads-api

    build:
        parameters:
            cached: true
            parallel: true

    validate:
        parameters:
            lint: true

    deploy:
        parameters:
            capabilities: CAPABILITY_IAM
            confirm_changeset: true
            resolve_s3: true

            s3_prefix: ads-api
            region: us-east-1
            image_repositories: []
    package:
        parameters:
            resolve_s3: true

    sync:
        parameters:
            watch: true

    local_start_api:
        parameters:
            warm_containers: EAGER

    local_start_lambda:
        parameters:
            warm_containers: EAGER

local:
    build:
        parameters:
            parameter_overrides:
                - Region=us-east-1
                - Env=local
    local_invoke:
        parameters: env_vars = "env.vars-dev.json"

dev:
    deploy:
        parameters:
            stack_name: ads-api-dev
            capabilities: CAPABILITY_IAM CAPABILITY_NAMED_IAM
            confirm_changeset: true
            resolve_s3: true
            region: us-east-1
            parameter_overrides:
                - Region=us-east-1
                - Env=dev
                - AdsTableName=AdsTable-dev
                - AdsBucketName=ads-api-dev-bucket-686255957557
                - AdsTopicName=ads-api-dev-notifications
                - AdsTopicArn=arn:aws:sns:us-east-1:686255957557:ads-api-dev-notifications
