name: Deploy API to AWS CloudFormation (IAM User)

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Install esbuild globally
              run: npm install -g esbuild

            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Setup Node.js environment
              uses: actions/setup-node@v4
              with:
                  node-version: '22.x'

            - name: Install AWS SAM CLI
              uses: aws-actions/setup-sam@v2

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_REGION }}

            - name: Install dependencies and run tests
              run: |
                  npm install
                  npm test # Optional: Runs your project's tests

            - name: Build SAM Application
              run: sam build

            - name: Deploy SAM Application
              run: |
                  sam deploy \
                    --stack-name ads-api-dev \
                    --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
                    --region ${{ secrets.AWS_REGION }} \
                    --no-confirm-changeset \
                    --no-fail-on-empty-changeset \
                    --resolve-s3
